.title {
    color:blue; 
    font-size:30px; 
    font-family:"Roboto"; 
    font-weight:bold; 
    padding:10px;  
    background-color: rgb(214, 200, 200);
    height:40px; 
    width:100px; 
    border-radius:10px;

} 

.paragraph{
    color:green; 
    font-size:20px; 
    font-weight:bold; 
    font-style:onlique; 
    
}
